body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 200;
  src: url(./assets/fonts/HelveticaNeue-Thin.otf);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  src: url(./assets/fonts/HelveticaNeue-Light.otf);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  src: url(./assets/fonts/HelveticaNeue-Roman.otf);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 500;
  src: url(./assets/fonts/HelveticaNeue-Medium.otf);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 700;
  src: url(./assets/fonts/HelveticaNeue-Bold.otf);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1{
  font-size: 24px;
  color: #EAE8E4;
  
  @media(min-width: 900px) {
    font-size: 48px;  
	}
}

h2{
  color: #2D2D2D;
  font-size: 24px;  
  margin-bottom: 5px;
  font-weight: 500;
  
  @media(min-width: 900px) {
    font-size: 40px;
	}
}

h3{
  color: #2D2D2D;
  font-weight: 200;
  font-size: 16px;  
  margin-top: 5px;
  margin-bottom: 30px;
  
  @media(min-width: 900px) {
    font-size: 24px;
	}
}